name: Sync Secrets

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: .base

      - uses: NorceTech/base-actions/sync-secrets@v1
        env:
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
        with:
          customer: second-doc-test
          environment: stage
          api_key: ${{ secrets.BASE_PLATFORM_API_KEY }}
